/*
COLOURS
----------------------------------------------------------------------------- */

$white      : #ffffff;
$black      : #000000;
$darkgrey   : #333333;
$grey       : #cccccc;
$lightgrey  : #f8f8f8;

/*
FONT SIZES
----------------------------------------------------------------------------- */

$line-height: 1.25em;

$fontSizeAlpha      : 38px;
$fontSizeBravo      : 32px;
$fontSizeCharlie    : 24px;
$fontSizeDelta      : 16px;
$fontSizeEcho       : 14px;
$fontSizeFoxtrot    : 12px;
